*.DS_Store
*__pycache__*
*.ipynb_checkpoints
*__MACOSX
sample_data
error_files
tmp
*slurm-*.out*
scripts/07_reproduce_baseline_results/libs/utils/nms_1d_cpu.egg-info
scripts/07_reproduce_baseline_results/libs/utils/dist
scripts/07_reproduce_baseline_results/libs/utils/build
scripts/04_extract_frame_features/gsam/gsam
