addict
black
cython
flake8
ego4d
envyaml
fairscale
gdown
imutils
ipykernel
jupyter
opencv-python-headless
pillow==9.5.0
pandas
ray
scipy
timm
transformers
torch
torchvision
yapf
git+https://github.com/facebookresearch/detectron2.git
