black
flake8
ego4d
envyaml
fairscale
gdrive
imutils
ipykernel
jupyter
opencv-python-headless
pillow==9.5.0
pandas
ray
timm
transformers
torch
torchvision
git+https://github.com/facebookresearch/detectron2.git
