transformers
opencv-python-headless
addict
black
cython
flake8
ego4d
envyaml
fairscale
gdown
imageio-ffmpeg
imutils
ipykernel
jupyter
matplotlib
numpy
openmim
packaging
pandas
pillow==9.5.0
prettytable
pyyaml
ray
scikit-image
scipy
timm
yapf
