accelerate
transformers
black
flake8
gdown
ipykernel
jupyter
scikit-image
imageio-ffmpeg
addict
diffusers
gradio
huggingface_hub
imutils
matplotlib
numpy
onnxruntime
opencv_python
Pillow
pycocotools
PyYAML
ray
requests
setuptools
supervision
termcolor
timm
yapf
nltk
fairscale
