git+https://github.com/facebookresearch/detectron2.git
tensorboard
transformers
opencv-python-headless
addict
black
cython
django
flake8
ego4d
envyaml
fairscale
gdown
h5py
imageio-ffmpeg
imutils
ipykernel
joblib
jupyter
matplotlib
numpy
openmim
packaging
pandas
pillow==9.5.0
prettytable
pyyaml
ray
scikit-image
scipy
timm
yapf